.big-button {
    border: none;
    color: $off-black;
    background: $yellow;
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
    //border-bottom: .6rem solid darken($purple, 10%);
    font-size: $l-size;
    font-weight: bold;
    padding: $l-size;
    width: 100%;
    border-radius: 10px;
    margin-bottom: $xl-size;

    &:disabled {
        opacity: .5;
    }
    &:hover {
        background: darken($yellow, 10%);
    }
}


.button {
    color: #fff;
    border: none;
    background: $purple;
    border-bottom: 3px solid darken($purple, 10%);
    font-weight: bold;
    padding: $s-size $l-size;
}

.button--link {
    border: none;
    color: transparentize($off-black, .2);
    background: none;
    
}

.button--remove {
    background: transparentize($off-black, .5);
    border-bottom: none;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    position: relative;
    margin-right: $m-size;
    margin-top: $s-size;
    &:hover {
        background: $off-black;
    }

    div{
        width: 15px;
        height: 1px;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    div:first-child {
        transform: rotate(45deg);
    }
    div:last-child {
        transform: rotate(-45deg);
    }
}

.button--add {
    width: 60px;
    height: 60px;
    background: $yellow;
    color: $off-black;
    border-radius: 50%;
    position: absolute;
    left:0;
    right:0; 
    margin: auto;
    z-index: 1;
    bottom: -80px;
    padding: 0;
    font-size: $l-size;
    border-bottom: none;
    box-shadow: 0 10px 20px rgba(0,0,0,.2);

    &:hover {
        background: darken($yellow, 10%);
    }
}

@media(max-width: $mobile) {
    .big-button {
        font-size: $m-size;
    }

    .button--link {
        font-size: $m-size;
        padding: 0;
    }
    .button--remove {
        margin-right: 0;
    }
}