//Colors

$off-black: #4a4a4a;
$off-white: #a5afd7;
$dark-blue: #1D1333;
$yellow: #FFDE55;
//$purple: #8357c5;
$purple: #5D347A;
$blue: #3c4251;
$light-blue: #464b5e;
$d-blue: #0089BC;
$l-blue: #29D1E2;
$d-red: #fd3e6c;
$l-red: #f78586;
// Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//Breakpoints
$mobile: 45rem;
